* {
  font-family: "맑은 고딕";
  text-align: center;
}

/* nav바 */
nav {
  overflow: hidden;
  background-color: #2c2c2c;
  border-radius: 50px;
  padding: 10px;
}

nav ul {
  padding: 0px;

  list-style: none;
}

nav li:nth-child(-n+4){
  float: left;
  margin-left: 30px;
}

nav li:nth-child(n+5) {
  float: right;
  margin-right: 40px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-size: 17px;
}

nav a:hover {
  background-color: #f5f5f5;
  color: #222;
  border-radius: 20px;
}
/* nav 바 */

.logo {
  width: 300px;
  margin: 20px;
}

.d-inline-block{
  width: 2000px;
 height: 600px;
  object-fit: cover;
}
.mycharts{
  width: 1100px;
  margin-left: 300px;
  margin-top: 30px;
}
h2{
  margin: 100px;
  line-height: 1.5;
}
h2 img{
  width: 400px;
  text-align: center;
}
#wrap{
 
  margin: 0 auto;
  overflow: hidden;
  padding-top: 10px;
}
div > article{
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 100px;
}
article > img{
  display: block;
  opacity: 1;
}
img:hover{
  opacity: 0.6;
}
.clothes{
  height: 300px;
  width: 300px;
  text-align: center;
}
p{
  padding: 20px;
}
span{
  color: red;
}
.box{
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(149, 231, 48);
  right: 20px;
  bottom: 20px;
  line-height: 60px;
  color: white;
  font-weight: bold;
}