* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
}

/* ----  헤더 영역 ---- */
header {
  width: 100%;
  height: 100vh;
  background: url(images/header-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 10px 8%;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}